* {                             // universal selector setting
    box-sizing: border-box;    // default value is content-box, calculates size of content for value + padding + border
                                // border-box will just use the value and remove the padding and border from calculation
}
// rem - better pixels for accessibility
html {
  font-size: 62.5%; // base 10 system, 1rem === 16px
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;  // fonts in order
  font-size: $m-size;
  line-height: 1.6; // gives more space between paragraph
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}