.page-header {
    background: $off-white;    // off white color background
    padding: $l-size 0; // add padding top and bottom
    margin-bottom: $l-size; // add gutter
}

.page-header__title {
    margin: 0;  // remove margins
    font-weight: 300;   // makes entire h1 thin
    span {
        font-weight: 700;   // value of bold
    }
}

.page-header__actions {
    margin-top: $m-size;    // add spacing between title and button
}